body {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.background_std {
  background-color: #A4A69C;
}

.background_dark {
  background-color: #4C594F;
}

.background_light {
  background-color: #bfbfb8;
}

header {
  background-color: #232625;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  margin-bottom: 5px;
  column-gap: 10px;
}

header section {
  margin-inline-end: 0.5em;
}

label {
  margin-inline-end: 0.5em;
}

header a {
  margin-inline-start: 0.5em;
  font-size: xx-large;
  font-weight: bold;
  text-decoration: none;
  color: #bfbfb8;
}

main {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}

article a {
  text-decoration: none;
  color: #232625;
}

main article {
  width: 300px;
  margin: 15px;
}

main article img {
  width: 100%;
}

article div {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}


main img {
  width: 350px;
  margin: 15px;
}

main article a img {
  margin: 0;
}

main article a img:hover {
  transform: scale(1.03);
  transition: transform 0.2s;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.heading {
  font-size: x-large;
  font-weight: bold;
}

.color {
  color: #bfbfb8;
}

/*Tablet*/
@media screen and (max-width: 1279px) {
  main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/*Mobile*/
@media screen and (max-width: 600px) {
  main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }

  header a {
    margin-inline-start: 0;
  }

  header {
    flex-direction: column;
    height: auto;
  }

  header section {
    margin-bottom: 5px;
  }

  label {
    margin-bottom: 5px;
  }
}
